<app-header></app-header>
<div class="cuerpo">
    <div class="contenedorE text-center justify-content-center" >
        <div *ngIf="!loged" class="contenedorI">
            <h3>Logueate para ver el contenido </h3>
        </div>
        <div *ngIf="loged" class="contenedorI">
            <h3>{{'Top 3 user´s currencies' | translate}}</h3>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Price">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Crypto">
                  <th mat-header-cell *matHeaderCellDef> Crypto </th>
                  <td mat-cell *matCellDef class="isCrypto"> <ng-container>
                    <span class="dot"></span>
                    SI </ng-container></td>
                </ng-container>
              
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        
    </div>
    
</div>