<app-header></app-header>
<div class="cuerpo">
    <div class="contenedorE text-center justify-content-center" >
        <div *ngIf="!loged" class="contenedorI">
            <h3>{{'Log in to se the content' | translate}} </h3>
        </div>
        <div *ngIf="loged" class="contenedorI">
            <nav mat-tab-nav-bar>
                <a mat-tab-link *ngFor="let link of links" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
                   [active]="rla.isActive">
                  {{ link.label | translate}}
                </a>
              </nav>
              <router-outlet></router-outlet>
        </div>
        
    </div>
    
</div>

