.cuerpo
    background-color: #e4f4fc

.contenedorE
    width: 95%
    height: 900px
    background-color: #FFFFFF
    margin : auto
    padding-top : 5%

.contenedorI
    width:80%
    height:600px
    margin : auto 
    border-radius: 4px
    border: 2px solid gray

nav
  width: 100%
  height: 70px
  align-items: flex-end

.mat-tab-link
  height: 50px
  width: 50%
  padding: 0 24px
  box-sizing: border-box
  opacity: 0
  text-align: center
  display: inline-flex
  justify-content: center
  align-items: flex-end
  font-size: 20px
  font-weight: 200

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar
  background-color: #0474fc
  height: 5px

.mat-tab-label-active
  color: #0474fc
  font-weight: 500