<nav class="navbar navbarc  navbar-expand-lg navbar-light ">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">{{'Currencies' | translate}}</a>
    <a class="navbar-brand" routerLink="/agregar" routerLinkActive="active">{{'Add Currency' | translate}}</a>
    <a class="navbar-brand" routerLink="/topmonedas" routerLinkActive="active">{{'Top Currencies' | translate}}</a>
    <a *ngIf="!loged" class="navbar-brand" routerLink="/registrarse" routerLinkActive="active">{{'Sign Up' | translate}}</a>
    <select (click)="SelectLang($any($event.target).value)">
        <option *ngFor="let item of supportedLanguages">{{item}}</option>
    </select>
    <a class="flex-spacer"></a>
    <button *ngIf="!loged" type="button"  class="btn btn-light" (click)="openLoginForm()"><a class="navbar-brand" >{{'Log In' | translate}}</a></button>
    <button *ngIf="loged" type="button"  class="btn btn-light" (click)="Logout()"><a class="navbar-brand" >Log out</a></button>
</nav>