<app-header></app-header>
<div class="cuerpo">
    <div class="contenedorE text-center justify-content-center" >
        <div *ngIf="!loged" class="contenedorI">
            <h3>{{'Log in to se the content' | translate}} </h3>
        </div>
        <div *ngIf="loged" class="contenedorI">
            <h3>{{'Select the currency you want to add' | translate}}</h3>
            <form novalidate (ngSubmit)="onSubmit()">
                <p>
                    <mat-select placeholder="BTC" [(ngModel)]="model.currency" name="currency" #currency="ngModel" class="half-width">
                        <mat-option *ngFor="let ops of assets" [value]="ops.id">
                          {{ ops.symbol }}
                        </mat-option>
                    </mat-select>
                </p>
                <button type="submit" mat-button class="btn btn-success">{{'Submit' | translate}}</button>
            </form>
        </div>
        
    </div>
    
</div>

