<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> {{'Name' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> {{'Price' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Crypto">
      <th mat-header-cell *matHeaderCellDef> {{'Crypto' | translate}} </th>
      <td mat-cell *matCellDef class="isCrypto"> <ng-container>
        <span class="dot"></span>
        SI </ng-container></td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Convert">
      <th mat-header-cell *matHeaderCellDef> {{'Convert' | translate}} </th>
      <td mat-cell *matCellDef> <button mat-icon-button >
        <img class="png-icon" src="../../../assets/shuffle.png" routerLink="/home/cambio"/>
      </button> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>