<mat-toolbar class="tb">
    {{'Log In' | translate}}
  <span class="flex-spacer"></span>
  <button class="btn btn-danger" mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">

    <mat-dialog-content>
      <p>
        <mat-form-field>
            <input matInput placeholder="{{'Username' | translate}}" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
            <mat-error *ngIf="username.errors?.required">{{'Username is required' | translate}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <input matInput placeholder="{{'Password' | translate}}" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
            <mat-error *ngIf="password.errors?.required">{{'Password is required' | translate}}</mat-error>
        </mat-form-field>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions> 
      <span class="flex-spacer"></span>
      <button class="btn btn-danger" mat-button mat-dialog-close>{{'Cancel' | translate}}</button>
      <button type="submit" mat-button class="btn btn-success" [disabled]="loginForm.form.invalid">{{'Log In' | translate}}</button>
    </mat-dialog-actions>
  </form>