/* You can add global styles to this file, and also import other style files */
.flex-spacer 
  flex: 1 1 auto

.cuerpo
    background-color: #e4f4fc

.contenedorE
    width: 95%
    height: 900px
    background-color: #FFFFFF
    margin : auto
    padding-top : 5%

.contenedorI
    width:80%
    height:600px
    margin : auto 
    border-radius: 4px
    border: 2px solid gray
