.contenedorIr
    width:40%
    height:600px
    margin : auto 
    border-radius: 4px
    border: 2px solid gray

.full-width 
    width: 95%


.half-width 
    width: 65%


.form-size 
    width: 75%
