<app-header></app-header>
<div class="cuerpo">
    <div class="contenedorE text-center justify-content-center" >
        <div class="contenedorIr">
            <div fxFlex fxFlexOffset="20px" class="form-size">
                <h3>{{'Sign Up' | translate}}</h3>

            
                <form novalidate [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                  <p>
                    <mat-form-field class="half-width">
                      <input matInput formControlName="name" placeholder="{{'First Name' | translate}}" type="text" required>
                      <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="half-width">
                      <input matInput formControlName="lastname" placeholder="{{'Last Name' | translate}}" type="text" required>
                      <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="half-width">
                      <input matInput formControlName="username" placeholder="{{'Username' | translate}}" type="text" required>
                      <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="half-width">
                      <input matInput formControlName="password" placeholder="{{'Password' | translate}}" pattern="[a-zA-Z0-9_]*" [type]="hide ? 'password' : 'text'" required>
                      <button mat-icon-button matSuffix (click)="hide = !hide"><mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon></button>
                      <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-select placeholder="{{'Favorite Currency' | translate}}" formControlName="favcoin" class="half-width">
                      <mat-option *ngFor="let ops of assets" [value]="ops.symbol" required>
                        {{ ops.symbol }}
                      </mat-option>
                      <mat-error *ngIf="formErrors.favcoin">{{formErrors.favcoin}}</mat-error>
                  </mat-select>
                  </p>
                      <button type="submit" mat-button class="btn btn-success" [disabled]="registroForm.invalid">{{'Submit' | translate}}</button>
                    </form>
                  </div>
        </div>
        
    </div>
    
</div>

