
<div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>{{'Make Change' | translate}}</h3>
    <h5>{{'Select the Currencies' | translate}}</h5>

    <form novalidate #cambioForm="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width">
          <input matInput   type="text" [(ngModel)]="conversion.entrada" name="entrada" #entrada="ngModel" required>
        </mat-form-field>
      </p>
      <p>
        <mat-select placeholder="BTC"  class="half-width" [(ngModel)]="conversion.valconvertir" name="valconvertir" #valconvertir="ngModel">
            <mat-option *ngFor="let ops of assets" [value]="ops.id">
              {{ ops.symbol }}
            </mat-option>
        </mat-select>
      </p>
      <p>
        <mat-select placeholder="BTC"  class="half-width" [(ngModel)]="conversion.valconvertido" name="valconvertido" #valconvertido="ngModel" required>
            <mat-option *ngFor="let ops of assets" [value]="ops.id">
              {{ ops.symbol }}
            </mat-option>
        </mat-select>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput   type="text" [(ngModel)]="conversion.resultado" name="resultado" #resultado="ngModel" readonly>
        </mat-form-field>
      </p>
          <button type="submit" mat-button class="btn btn-success" [disabled]="cambioForm.form.invalid">{{'Convert' | translate}}</button>
        </form>

</div>
